<h2>You have the power to edit <br>
</h2>
<form action="/streetarts/{{streetart._id}}/edit" method="POST">
  <img src={{streetart.imageUrl}} class="card-img-top" alt={{title}}><br>
  <label>
    Artist
    <input type="text" name="artist" value="{{streetart.artist}}">
  </label>

  <label>
    Name or Description
    <textarea name="description" cols="30" rows="2">{{streetart.name_description}}</textarea>
  </label>

  <br>
  <label>
    Address
    <input type="double" name="address" value="{{streetart.address}}">
  </label>
  <label>
    Latitude
    <input type="string" name="latitude" value="{{streetart.latitude}}">
  </label>
  <label>
    Longitude
    <input type="string" name="longitude" value="{{streetart.longitude}}">
  </label>
  <br>

  <label>
    Other Location Notes
    <textarea name="comment" cols="30" rows="2">{{streetart.other_location_note}}</textarea>
  </label>
  <br>
  <label>
    Comment
    <textarea name="comment" cols="30" rows="2">{{streetart.comment}}</textarea>
  </label>
  <button type="submit">Update</button>
</form>
<br>
<a href="/route-search">Back to route map</a>
<br>
<a href="/streetarts">List of all street art</a>